<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let producto of productos">
    <mat-card>
      <mat-card-title>{{producto.name}}</mat-card-title>
      <mat-card-subtitle>{{ producto.price | currency: 'USD' | lowercase }}</mat-card-subtitle>
      <mat-card-subtitle  *ngIf="producto.stock > 0">{{ producto.stock }}</mat-card-subtitle>
      <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
      <mat-card-actions>
        <button  mat-raised-button color="primary" (click)="agregarproducto(producto)" *ngIf="producto.stock > 0 ">Comprar</button>
        <button mat-button mat-raised-button color="accent">Ver</button>
      </mat-card-actions>

    </mat-card>

  </div>

</div>
